<div class="file-date">
  <div class="file">
    <svg
      width="20px"
      height="25px"
      viewBox="0 0 32 32"
      id="OBJECT"
      xmlns="http://www.w3.org/2000/svg"
      fill=" #081f2d"
      stroke=" #081f2d"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <defs>
          <style>
            .cls-1 {
              fill: #dd971a;
            }
          </style>
        </defs>
        <title></title>
        <rect height="26" rx="1" ry="1" width="18" x="5" y="5"></rect>
        <path
          class="cls-1"
          d="M26.71,7.29l-6-6A1,1,0,0,0,20,1H10A1,1,0,0,0,9,2V26a1,1,0,0,0,1,1H26a1,1,0,0,0,1-1V8A1,1,0,0,0,26.71,7.29Z"
        ></path>
        <path
          d="M20.71,1.29A1,1,0,0,0,20,1V7a1,1,0,0,0,1,1h6a1,1,0,0,0-.29-.71Z"
        ></path>
        <path d="M19,13.5H14a1,1,0,0,1,0-2h5a1,1,0,0,1,0,2Z"></path>
        <path d="M22,17.5H14a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"></path>
        <path d="M22,21.5H14a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"></path>
      </g>
    </svg>
    <p>{{ entry.fileName }}</p>
  </div>
  <div class="date">
    <h6>Upload Date:</h6>
    <p>{{ entry.date }}</p>
  </div>
</div>
<div class="content">
  <div class="title">
    <h5 class="txt-ellipsis">{{ entry.title }}</h5>
  </div>
  <div class="description">
    <p>{{ entry.description }}</p>
  </div>
</div>
