:host {
  position: absolute;
  top: 7rem;
  width: 100%;
  overflow-y: auto;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0 0.8rem;
}
.search-become > input {
  height: 2.4rem;
  width: 5.5rem;
  margin-left: 1rem;
}
.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
