<div
  class="icons"
  routerLink="/members"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <div class="svg">
    <img src="/svg/members.svg" alt="" />
  </div>
  <p>Members</p>
</div>
<div
  class="icons"
  routerLink="/circulars"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <div class="svg">
    <img src="/svg/notices.svg" alt="" />
  </div>
  <p>Circulars</p>
</div>
<div
  class="icons"
  routerLink="/events"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <div class="svg">
    <img src="/svg/events.svg" alt="" />
  </div>
  <p>Events</p>
</div>
<div
  class="icons"
  routerLink="/payments"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <div class="svg">
    <img src="/svg/payments.svg" alt="" />
  </div>
  <p>Payments</p>
</div>
<div
  class="icons"
  routerLink="/user"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <div class="svg">
    <img src="/svg/user.svg" alt="" />
  </div>
  <p>Sign In</p>
</div>
