:host{
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 100%;
  border-bottom: 3.3rem solid rgba(30, 56, 76, 1);
  margin-top: 1rem;
  text-align: center;
  text-wrap: balance;

}
.container{
  background-color: rgba(221, 151, 26, 1);
}
p{

  font-size: .6rem;
  background-color: rgba(221, 151, 26, 1);
}
span{
  font-weight: 500;
}


